<header>
  <img id="logoHead" src="/img/logo.png" alt="" />
  <h2>Administracion</h2>
  </header>
<div class="py-4">
  <hr class="w-50" />
  <table id="formReg" class="table w-50 m-auto">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Foto</th>
        <th scope="col">Nombre</th>
        <th scope="col">Años de experiencia</th>
        <th scope="col">Especialidad</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody id="usuarios">
      {{#each usuarios}}
      <tr>
            <th scope="row">{{@index}}</th>
            <td class="contenedor"><img src="./upload/{{this.foto}}" id="fotoSkater" alt="foto_skater"></td>
            <td>{{this.nombre}}</td>
            <td>{{this.anos_experiencia}}</td>
            <td>{{this.especialidad}}</td>
            <td><input type="checkbox" {{#if this.estado}} checked {{/if}} onclick="changeStatus({{this.id}},this)">
            </td>
          </tr>
          {{/each}}
    </tbody>
  </table>
</div>